body {
}

*{margin:0;padding:0}

#main {
    width: 100%;
}

.header {
    width: 100%;
    height:60px;
    margin: 0 auto;
    padding: 0;
    background-color: RGB(0, 0, 0);
    position: relative;
    display: block;
}

.logo {
    width: 10%;
    font: normal 3em Helvetica, Arial, sans-serif;
    color: white;
    float: left;
}

.nav {
    width:89%;
    height: 60px;
    line-height: 60px;
    margin: auto;
    font-size:large;
    margin: 0px auto;
    display: block;
    float: left;
    transition: 2s;
    -webkit-transition: 2s;
     
}

.nav a {
    text-decoration: none;
    color: white;
    display: block;
    padding:0px 5px;
    float: left;
    line-height:50px;
    height: 50px;
    text-align: center;
    width: 7%;
}

.nav a:hover {
    border-bottom: RGB(110,0,63);
    border-bottom-style: inset;
    background-color: RGB(164, 0, 53);
}

/********************中间部分的代码**************************/
.section {
    width: 100%;
    height:700px;
    background-image: url("../img/20170923151619.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
/*   background-position-y: bottom;*/
    
}

/*img {
    max-width: 100%;
    height: 700px;
}*/

.left {
    color: white;
    font-size: large;
    float: left;
    width: 39%;
    height: 400px;
}

.left .name {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.left .name h1 {
    position: absolute;
    bottom: 410px;
    width: 100%;
    text-align: center;
    line-height: 38px;
}

.left .name h2 {
    position: absolute;
    bottom: 370px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}


.right {
    color: black;
    font-size: small;
    float: right;
    width: 59%;
    height:400px;
}

.footer {
    width: 100%;
    height:200px;
    background-color: black;
    color: white;
}
