   *{ padding: 0px;margin: 0px;}
   .CZMBrandCompany{ font-family: '微软雅黑';font-size: 14px; color: gray}
   .CZMBrandCompanyT{ font-family: '微软雅黑';font-size: 18px; color: white}
   #ShowPhoneIfStart{ background-color:RGB(176, 53, 112) ;color: white}
   #ShowPhoneIfStart div ul li a{ color: white;}
   #ShowPhoneIfEnd{ background-color: white;color: white}
   #ShowPhoneIfEnd div ul li a{ color: gray;background-color:white }
   #ShowPhoneIfEnd,#ShowPhoneIfStart{ border: 0px;}
   #LunBoControl{ margin-top: -20px;}
   #LunBoControl{
       background: linear-gradient(to left, RGB(6, 31, 62), RGB(18, 69, 131), RGB(11, 29, 50));
       Background: -webkit-linear-gradient(to left, RGB(6, 31, 62), RGB(18, 69, 131), RGB(11, 29, 50));
       Background:-o-linear-gradient(to left, RGB(6, 31, 62), RGB(18, 69, 131), RGB(11, 29, 50))
   }
   #LunBoControl2{ margin-top: -20px;}
   #LunBoControl2{ 
       background: linear-gradient(to left,RGB(234,202,223), RGB(176, 53, 112)),RGB(241,222,233);
       Background: -webkit-linear-gradient(to left,RGB(234,202,223), RGB(176, 53, 112)),RGB(241,222,233);
       Background:-o-linear-gradient(to left,RGB(234,202,223), RGB(176, 53, 112)),RGB(241,222,233);
   }
   .intro{font-size:20px;font-family: '楷体', '宋体';font-weight: 600;color: purple}
   .ItroDuctionOfCompany{ height: 150px;overflow: hidden;word-break: break-all;font-size: 20px;color: white;font-family: '微软雅黑'}
   .ItroDuctionOfCompanys{height: 150px;overflow: hidden;word-break: break-all;font-size: 15px;color: black;font-family: '微软雅黑'}
   .JuzhongFont{ width: 100%;text-align: center;line-height: 70px;height: 70px }
   .JuzhongFont .productFont{ font-size: 1.5em;font-weight: 600;}
   .Font_Name_English{ color: darkmagenta;font-weight: 400;font-size: 20px; text-align: center;padding-left: 10px;letter-spacing: 1px;word-spacing: 3px; }
   #RowProductTypeShow img{ width: 100%;height: 230px;}
   #RowProductTypeShow .col-md-3{margin-bottom: 15px}
   #NewProductShow img{ width: 100%;height: 250px;transition: 0.7s}
   #NewProductShow img:hover{ transform: scale(1.5, 1.5);-webkit-transform: scale(1.5, 1.5);}
   .introShowWord{ font-size: 15px;font-weight: 500;font-family: ProductFontStyle;color: purple;overflow: hidden;width: 100%;height: 25px;}
   .ProductShowDiscr{ width: 100%;height: 100px;overflow:hidden}
   .DownGoumai .MeonyChar{ font-weight: 600;color: RGB(148, 30, 80);font-size: 20px;vertical-align: top;padding-left: 10px;}
   .DownGoumai .Meony{ font-weight: 700;font-size: 25px;color:RGB(148, 30, 80) }
   .DownGoumai .MeonyLastChar{ color: RGB(191,181,181); text-decoration: line-through;font-size: 15px}
   .ProjectName{ color: gainsboro;font-size: 22px;font-weight: 400;background-color: crimson;}
   .WordOfTheProduct{ color: white;font-weight: 400;font-style: italic;text-transform: uppercase;font-size: 15px;background-color: RGB(148, 30, 80) }
   .ShowIntorductiOfpROJECT{ width: 100%;height: 100px;overflow: hidden}
   .Watchlive{ width: 100%;height: 500px;}
   .Watchlive .JuzhongFont{ width: 100%;text-align: center;line-height: 150px;height: 150px }
   .Watchlive .JuzhongFont .productFont{ font-size: 1.5em;font-weight: 600;}
   .Watchlive .LiveSelf{ width: 700px;margin: 30px auto}
   .Watchlive .LiveSelf a{ display: block;float: left;margin: 10px;}
   .Watchlive .LiveSelf a img{ width: 200px;height: 200px;border-radius: 50%;}
   .Watchlive .LiveSelf a img:hover{ border: 2px solid red;}
   .TypeName{ position: absolute;top: 5px;left: 10px;width: 20px;background-color: purple;color: white;height: 80%;text-align: center;font-family: ProductFontStyle;font-size: 16px;padding-top: 27px; }
   /**手机样式**/
   #DaiTwo{ width: 100%;height: 400px;background-color: RGB(124,112,177);}

   .TableName .tr{
       width: 100%;
   }
   .TableName .th {
       font-size: 16px;font-weight: 600;width: 33%;
   }
   #Font_Intro_Footer1{ height: 300px;}
   #Font_Intro_Footer2{ height: 300px;}
   #Font_Intro_Footer2 p{ position: absolute;bottom: 40px;}
   #Font_Intro_Footer3{ height: 300px;}
   #Font_Intro_Footer3 figure{ float: left;margin-left: 5px}
   .div_Img_CZM:hover{z-index: 2}
   .div_Img_Webnet:hover{z-index: 3}
   #PictureProject .col-md-4{ padding-bottom: 15px;padding-top: 10px;}
   @media only screen and (min-width: 1200px) {

       .TypeName{ position: absolute;top: 5px;left: 10px;width: 20px;background-color: purple;color: white;height: 80%;text-align: center;font-family: ProductFontStyle;font-size: 16px;padding-top: 27px; }


       #ShowPhoneIfStart{display: none}  
       #ShowPhoneIfEnd{display: block}    
       #LunBoControl{ width: 100%;}    
       #LunBoControl img{ width: 100%;height: 100%;}
       #LunBoControl2{width: 100%}

       .ItroDuctionOfCompany{ height: 100px;overflow: hidden;word-break: break-all;font-size: 12px;}
       #CompanyName{ font-size: 20px;font-family: '楷体', '宋体';font-weight: 400;color: purple;width: 100%;text-align: center }
       #myCarousel{ width: 1300px;margin: auto}    
       #myCarouse2{width: 1000px;margin: auto;height: 400px}
       #LunBoControl2 img{ width: 1000px;height: 400px}  
       .VedioList{ width: 100%;height: 600px;background-color: RGB(231, 223, 238);box-sizing: border-box}
       .VedioList .JuzhongFont{ width: 100%;text-align: center;line-height: 150px;height: 150px }
       .VedioList .JuzhongFont .productFont{ font-size: 1.5em;font-weight: 600;}
       .VedioList .Vedioshelf { width: 810px;margin: auto;padding-top: 50px}
       .VedioList .Vedioshelf .LeftBox{background-image: url(../FirstImage/diaoyu.png); width: 200px;float: left;height: 200px;background-color:white;border-radius: 50%;border: 1px solid purple; }
       .VedioList .Vedioshelf .LeftBox img{opacity: 0.75;filter:alpha(opacity=75);  width: 180px;height: 180px;border-radius: 50%;border: 1px solid plum;margin: 10px;}
       .VedioList .Vedioshelf .CenterBox{background-image: url(../FirstImage/yihui.png);  width: 400px;float: left;height: 400px;background-color:white;border-radius: 50%;border: 1px solid purple;  }
       .VedioList .Vedioshelf .CenterBox img {opacity: 0.75;filter:alpha(opacity=75); width: 380px;height: 380px; border-radius: 50%;border: 1px solid plum;margin: 10px;}
       .VedioList .Vedioshelf .RightBox{background-image: url(../FirstImage/wenwu.png);  width:200px;float: left; height: 200px;background-color: white;border-radius: 50%;border: 1px solid purple; }
       .VedioList .Vedioshelf .RightBox img {opacity: 0.75;filter:alpha(opacity=75); width: 180px;height: 180px; border-radius: 50%;border: 1px solid plum;margin: 10px;}
       .VedioList .Vedioshelf::after{ content: "";display: block;clear: both}
       .VedioList .LearingMoreVedio{ width: 100%;height: 30px;position: relative;}
       .VedioList .LearingMoreVedio p{font-size: 1.2em; text-align: center;position: absolute;right: 20%;  width: 150px;height: 30px;line-height: 30px; border: solid 1px grey;font-weight: 600; background-color: white;}
       .VedioList .LearingMoreVedio p a{color: purple;} 
       #Watchlive{ width: 100%;height: 300px;}
       #Watchlive .row{ text-align: center;}
       #Watchlive .row  img{ width: 200px;height: 200px;border-radius: 50%}
       footer{ background-color: RGB(10, 18, 43);width: 100%; height: 300px;}
       footer .HeadColor{ height: 50px;width: 100%;background-color: RGB(144,68,117)}
       footer .TowPart{ width: 100%;background-color: white;height: 250px;}
       footer .TowPart .Left_Font{ width: 69%;height: 250px;float: left; }
       footer .TowPart .Left_Font table{width: 100%; padding: 7px;margin: auto}
       footer .TowPart .Left_Font table th{ height: 40px;line-height: 40px;margin: auto;font-size: 1.2em;font-family: '微软雅黑', '宋体';word-spacing: 2px;}
       footer .TowPart .Left_Font table tr{height: 40px;line-height: 40px;font-size: small}
       footer .TowPart .Left_Font table .TitleIntroduce{ color: RGB(114, 114, 114);font-size: small}
       footer .TowPart .Right_Picture{ width: 30%;height: 250px;float: left}
       footer .TowPart .Right_Picture .PictureOneWechat { background-color: purple;width: 200px;height: 200px;position: relative;top: 10px;right: 100px;}
       .zixun{z-index: 100000; width: 170px;height: 270px;font-size: 1em;font-family: '微软雅黑', '宋体';word-spacing: 2px;color: RGB(114, 114, 114);position: fixed;right: 0px;top: 35%;}
       .zixun .showDiv{width: 135px;height: 270px;background-color: white;float: left;opacity: 0;filter: opacity(0)}
       .zixun .lanmu{ width: 32px;height: 270px;background-color: purple;color: white;float: right}
       .zixun .lanmu a img{ width: 30px;height: 30px;margin:20px auto;display: block}
       .zixun .lanmu a img:hover{ transform: translate(2px, 2px);-webkit-transform: translate(2px, 2px);background-color: white} /***1300px以上***/
       .TiaoLan li{ width: 100px;height: 25px;color: white;background-color: RGB(156,20,82);margin: 25px auto; }
       .TiaoLan li a{ display: block; width: 100px;height: 25px;font-family: '微软雅黑';text-align: center;line-height: 25px;color: white }
       .showDivs{ position: absolute;top: 0px;left: 0px;width: 135px;height: 270px;}
   }
   @media only screen and (min-width:768px) and (max-width: 1199px) {
       
       .TypeName{ position: absolute;top: 5px;left: 10px;width: 20px;background-color: purple;color: white;height: 80%;text-align: center;font-family: ProductFontStyle;font-size: 16px;padding-top: 27px; }
       
       
       #Font_Intro_Footer3{  overflow: hidden} 
       #Font_Intro_Footer3 img{ width: 100px;height: 100px;}
       #myCarousel{ width: 100%;margin: auto}    
       #ShowPhoneIfStart{display: none}  
       #ShowPhoneIfEnd{display: block}    
       #CompanyName{ font-size: 14px;font-family: '楷体', '宋体';font-weight: 500;color: purple;width: 100%;text-align: center }  
       .VedioList{ width: 100%;height: 400px;background-color: RGB(231, 223, 238);box-sizing: border-box}
       .VedioList .JuzhongFont{ width: 100%;text-align: center;line-height: 150px;height: 150px }
       .VedioList .JuzhongFont .productFont{ font-size: 1.5em;font-weight: 600;}
       .VedioList .Vedioshelf { width: 680px;margin: auto;padding-top: 21px}
       .VedioList .Vedioshelf a{display: block}
       .VedioList .Vedioshelf .LeftBox{background-image: url(../FirstImage/diaoyu.png); width: 180px;float: left;height: 180px;background-color:white;border-radius: 50%;border: 1px solid purple; }
       .VedioList .Vedioshelf .LeftBox img{opacity: 0.75;filter:alpha(opacity=75);  width: 150px;height: 150px;border-radius: 50%;border: 1px solid plum;margin: 10px;}
       .VedioList .Vedioshelf .CenterBox{background-image: url(../FirstImage/yihui.png);  width: 300px;float: left;height: 300px;background-color:white;border-radius: 50%;border: 1px solid purple;  }
       .VedioList .Vedioshelf .CenterBox img {opacity: 0.75;filter:alpha(opacity=75); width: 280px;height: 280px; border-radius: 50%;border: 1px solid plum;margin: 10px;}
       .VedioList .Vedioshelf .RightBox{background-image: url(../FirstImage/wenwu.png);  width:180px;float: left; height: 180px;background-color: white;border-radius: 50%;border: 1px solid purple; }
       .VedioList .Vedioshelf .RightBox img {opacity: 0.75;filter:alpha(opacity=75); width: 150px;height: 150px; border-radius: 50%;border: 1px solid plum;margin: 10px;}
       .VedioList .Vedioshelf::after{ content: "";display: block;clear: both}
       .VedioList .LearingMoreVedio{ width: 100%;height: 30px;position: relative;}
       .VedioList .LearingMoreVedio p{font-size: 1.2em; text-align: center;position: absolute;right: 20%;  width: 150px;height: 30px;line-height: 30px; border: solid 1px grey;font-weight: 600; background-color: white;}
       .VedioList .LearingMoreVedio p a{color: purple;} 
       footer{ background-color: RGB(10, 18, 43);width: 100%; height: 300px;}
       footer .HeadColor{ height: 20px;color: white; width: 100%;background-color: RGB(144,68,117)}
       footer .TowPart{ width: 100%;background-color: white;height: 250px;}
       footer .TowPart .Left_Font{ width: 69%;height: 250px;float: left; }
       footer .TowPart .Left_Font table{width: 100%; padding: 7px;margin: auto}
       footer .TowPart .Left_Font table th{ height: 40px;margin: auto;font-size: 1.2em;font-family: '微软雅黑', '宋体';word-spacing: 2px;}
       footer .TowPart .Left_Font table tr{height: 40px;font-size: small}
       footer .TowPart .Left_Font table .TitleIntroduce{ color: RGB(114, 114, 114);font-size: small}
       footer .TowPart .Right_Picture{ width: 30%;height: 250px;float: left}
       footer .TowPart .Right_Picture .PictureOneWechat { background-color: purple;width: 200px;height: 200px;position: relative;top: 10px;left: 18px;}
       #Watchlive{ width: 100%;height: 250px;}
       #Watchlive .row{ text-align: center;}
       #Watchlive .row  img{ width: 150px;height: 150px;border-radius: 50%}
       .zixun{z-index: 100000; width: 170px;height: 270px;font-size: 1em;font-family: '微软雅黑', '宋体';word-spacing: 2px;color: RGB(114, 114, 114);position: fixed;right: 0px;top: 35%;}
       .zixun .showDiv{width: 135px;height: 270px;background-color: white;float: left;opacity: 0;filter: opacity(0)}
       .zixun .lanmu{ width: 32px;height: 270px;background-color: purple;color: white;float: right}
       .zixun .lanmu a img{ width: 30px;height: 30px;margin:20px auto;display: block}
       .zixun .lanmu a img:hover{ transform: translate(2px, 2px);-webkit-transform: translate(2px, 2px);background-color: white} /***1300px以上***/
       .TiaoLan li{ width: 100px;height: 25px;color: white;background-color: RGB(156,20,82);margin: 25px auto; }
       .TiaoLan li a{ display: block; width: 100px;height: 25px;font-family: '微软雅黑';text-align: center;line-height: 25px;color: white }
       .showDivs{ position: absolute;top: 0px;left: 0px;width: 135px;height: 270px;}
   }
   @media only screen and (min-width: 480px) and (max-width: 767.9px) {

       .TypeName{ position: absolute;top: 5px;left: 10px;width: 20px;background-color: purple;color: white;height: 80%;text-align: center;font-family: ProductFontStyle;font-size: 16px;padding-top: 27px; }

       #Font_Intro_Footer1{ height: 300px;}
       #Font_Intro_Footer2{ height: 50px;}
       #Font_Intro_Footer2 p{ position: absolute;bottom: 40px;}
       #Font_Intro_Footer3{ display: none;overflow: hidden}
       .div_Img_CZM:hover{z-index: 2}
       .div_Img_Webnet:hover{z-index: 3}

       #ShowPhoneIfStart{display:block}  
       #ShowPhoneIfEnd{display: none}    
       #CompanyName{ font-size: 14px;font-family: '楷体', '宋体';font-weight: 500;color: purple;width: 100%;text-align: center }      
       #RowProductTypeShow .col-md-3{ margin-bottom: 15px;margin: auto}    
       #RowProductTypeShow img{ width: 100%;height: 200px;}    
       .VedioList{ width: 100%;height: 400px;background-color: RGB(231, 223, 238);box-sizing: border-box}
       .VedioList .JuzhongFont{ width: 100%;text-align: center;line-height: 150px;height: 150px }
       .VedioList .JuzhongFont .productFont{ font-size: 1.5em;font-weight: 600;}
       .VedioList .Vedioshelf { width: 100%;margin: auto;padding-top: 15px}
       .VedioList .Vedioshelf a{display: block}
       .VedioList .Vedioshelf .LeftBox{display: none}
       .VedioList .Vedioshelf .CenterBox{margin: auto; background-image: url(../FirstImage/yihui.png);  width: 300px;height: 300px;background-color:white;border-radius: 50%;border: 1px solid purple;  }
       .VedioList .Vedioshelf .CenterBox img {opacity: 0.75;filter:alpha(opacity=75); width: 280px;height: 280px; border-radius: 50%;border: 1px solid plum;margin: 10px;}
       .VedioList .Vedioshelf .RightBox{display: none }
       .VedioList .Vedioshelf::after{ content: "";display: block;clear: both}
       .VedioList .LearingMoreVedio{ width: 100%;height: 30px;position: relative;}
       .VedioList .LearingMoreVedio p{font-size: 1.2em; text-align: center;position: absolute;right: 20%;  width: 150px;height: 30px;line-height: 30px; border: solid 1px grey;font-weight: 600; background-color: white;}
       .VedioList .LearingMoreVedio p a{color: purple;} 
       #Watchlive{ width: 100%;height: 150px;}
       #Watchlive .row{ text-align: center;}
       #Watchlive .row  img{ width: 100px;height: 100px}
       footer{ background-color: RGB(10, 18, 43);width: 100%; height: 300px;}
       footer .HeadColor{ height: 50px;width: 100%;background-color: RGB(144,68,117)}
       footer .TowPart{ width: 100%;background-color: white;height: 250px;}
       footer .TowPart .Left_Font{ width: 69%;height: 250px;float: left; }
       footer .TowPart .Left_Font table{width: 100%; padding: 7px;margin: auto}
       footer .TowPart .Left_Font table th{ height: 40px;margin: auto;font-size: 1.2em;font-family: '微软雅黑', '宋体';word-spacing: 2px;}
       footer .TowPart .Left_Font table tr{height: 40px;font-size: small}
       footer .TowPart .Left_Font table .TitleIntroduce{ color: RGB(114, 114, 114);font-size: small}
       footer .TowPart .Right_Picture{ width: 30%;height: 250px;float: left}
       footer .TowPart .Right_Picture .PictureOneWechat { background-color: purple;width: 200px;height: 200px;position: relative;top: 10px;left: 18px;}
       .zixun{z-index: 100000; width: 170px;height: 270px;font-size: 1em;font-family: '微软雅黑', '宋体';word-spacing: 2px;color: RGB(114, 114, 114);position: fixed;right: 0px;top: 35%;}
       .zixun .showDiv{width: 135px;height: 270px;background-color: white;float: left;opacity: 0;filter: opacity(0)}
       .zixun .lanmu{ width: 32px;height: 270px;background-color: purple;color: white;float: right}
       .zixun .lanmu a img{ width: 30px;height: 30px;margin:20px auto;display: block}
       .zixun .lanmu a img:hover{ transform: translate(2px, 2px);-webkit-transform: translate(2px, 2px);background-color: white} /***1300px以上***/
       .TiaoLan li{ width: 100px;height: 25px;color: white;background-color: RGB(156,20,82);margin: 25px auto; }
       .TiaoLan li a{ display: block; width: 100px;height: 25px;font-family: '微软雅黑';text-align: center;line-height: 25px;color: white }
       .showDivs{ position: absolute;top: 0px;left: 0px;width: 135px;height: 270px;}
       .LoginUser{ height: 25px;width: 100px;background-color: RGB(159, 40, 94); color: white; }
       .ProjectName{ color: gainsboro;font-size: 15px;font-weight: 400;background-color: crimson;}
       .WordOfTheProduct{ color: white;font-weight: 400;font-style: italic;text-transform: uppercase;font-size: 8px;line-height: 10px;background-color: RGB(148, 30, 80) }
       .ShowIntorductiOfpROJECT{ width: 100%;height: 50px;overflow: hidden}
       #NewProductShow img{ width: 100%;height: 300px;transition: 0.5s}
       #NewProductShow img:hover{ transform: scale(1,1);-webkit-transform: scale(1.1, 1.1);}
   }
   @media only screen and (min-width: 0px) and (max-width: 480px) {

       .TypeName{ position: absolute;top: 5px;left: 10px;width: 20px;background-color: purple;color: white;height: 80%;text-align: center;font-family: ProductFontStyle;font-size: 16px;padding-top: 27px; }

       #Font_Intro_Footer1{ height: 300px;}
       #Font_Intro_Footer2{ display: none;overflow: hidden}
       #Font_Intro_Footer2 p{ display: none;overflow: hidden}
       #Font_Intro_Footer3{ display: none;overflow: hidden}
       .div_Img_CZM:hover{z-index: 2}
       .div_Img_Webnet:hover{z-index: 3}


       #ShowPhoneIfStart{display: block}  
       #ShowPhoneIfEnd{display: none} 
       #CompanyName{ font-size: 14px;font-family: '楷体', '宋体';font-weight: 500;color: purple;width: 100%;text-align: center }
       .Font_Name_English{ color: darkmagenta;font-weight: 400;font-size: 15px; text-align: center;padding-left: 10px;letter-spacing: 1px;word-spacing: 3px; }
       #RowProductTypeShow img{ width: 100%;height: 150px;} 
       .intro{font-size: 14px;font-family: '楷体', '宋体';font-weight: 400;color: purple}
       .VedioList{ width: 100%;height: 400px;background-color: RGB(231, 223, 238);box-sizing: border-box}
       .VedioList .JuzhongFont{ width: 100%;text-align: center;line-height: 150px;height: 150px }
       .VedioList .JuzhongFont .productFont{ font-size: 1.5em;font-weight: 600;}
       .VedioList .Vedioshelf { width: 100%;margin: auto;padding-top: 15px}
       .VedioList .Vedioshelf a{display: block}
       .VedioList .Vedioshelf .LeftBox{display: none}
       .VedioList .Vedioshelf .CenterBox{margin: auto; background-image: url(../FirstImage/yihui.png);  width: 300px;height: 300px;background-color:white;border-radius: 50%;border: 1px solid purple;  }
       .VedioList .Vedioshelf .CenterBox img {opacity: 0.75;filter:alpha(opacity=75); width: 280px;height: 280px; border-radius: 50%;border: 1px solid plum;margin: 10px;}
       .VedioList .Vedioshelf .RightBox{display: none }
       .VedioList .Vedioshelf::after{ content: "";display: block;clear: both}
       .VedioList .LearingMoreVedio{ width: 100%;height: 30px;position: relative;}
       .VedioList .LearingMoreVedio p{font-size: 1.2em; text-align: center;position: absolute;right: 20%;  width: 150px;height: 30px;line-height: 30px; border: solid 1px grey;font-weight: 600; background-color: white;}
       .VedioList .LearingMoreVedio p a{color: purple;} 
       footer{ background-color: RGB(10, 18, 43);width: 100%; height: 600px;}
       footer .HeadColor{ height: 50px;width: 100%;background-color: RGB(144,68,117)}
       footer .TowPart{ width: 100%;background-color: white;height: 250px;}
       footer .TowPart .Left_Font{ width: 100%;height: 250px;float: left; }
       footer .TowPart .Left_Font table{width: 100%; padding: 7px;margin: auto}
       footer .TowPart .Left_Font table th{ height: 40px;margin: auto;font-size: 1.2em;font-family: '微软雅黑', '宋体';word-spacing: 2px;}
       footer .TowPart .Left_Font table tr{height: 40px;font-size: small}
       footer .TowPart .Left_Font table .TitleIntroduce{ color: RGB(114, 114, 114);font-size: small}
       footer .TowPart .Right_Picture{ width: 100%;height: 250px;float: left}
       footer .TowPart .Right_Picture .PictureOneWechat { background-color: purple;width: 200px;height: 200px;position: relative;top: 10px;left: 18px;}
       #Watchlive{ width: 100%;height: 150px;}
       #Watchlive .row{ text-align: center;}
       #Watchlive .row  img{ width: 100%;height: 80px;border-radius: 50%;}
       .ProjectName{ color: gainsboro;font-size: 12px;font-weight: 400;background-color: crimson;}
       .WordOfTheProduct{ display: none; }
       .ShowIntorductiOfpROJECT{ width: 100%;height: 50px;overflow: hidden}
       .zixun{ display: none;}
       #NewProductShow img{ width: 100%;height: 340px;transition: 0.5s}
       #NewProductShow img:hover{ transform: scale(1,1);-webkit-transform: scale(1.1, 1.1);}
   }
