html
{
	overflow: hidden; /*这个可以去掉IE6,7的滚动*/
	_overflow-x: hidden; /*去掉IE6横向滚动*/
	_overflow-y: hidden;
}

body
{
	margin: 0px;
	padding: 0px;
	background-color: #ECECEC;
	overflow: hidden; /*这个可去掉IE5.5的滚动*/
	_overflow-x: hidden; /*去掉IE6横向滚动*/
	_overflow-y: hidden;
	_margin-left: -8px; /*去掉IE6的左边框空白*/
}

.container
{
	text-align: left;
}
/*********************************************header***********************************************/
.header
{
	z-index: 100;
	height: 72px;
	background-color: #ECECEC;
	overflow:hidden;
}
.header .logo
{
	height: 72px;
	width: 200px;
	background-image: url(../Images/index/logo_top.png);
	background-position: left center;
	background-repeat: no-repeat;
	float: left;
	text-align: right;
}
.header .toolBar
{
	float:left;
	height: 72px;
	background-color: #ECECEC;
	overflow:hidden;
}
.header .help
{
	margin-top:52px;
	height:20px;
	width:100px;
	float:right;
	text-align:center;
}
.header .help a:link 
{
	width:50px;
	color: #666666;
	text-decoration: none;
}
.header .help a:visited {
	text-decoration: none;
	color: #666666;
}
.header .help a:hover {
	text-decoration: none;
	color: #0088B8;
}
.header .help a:active {
	text-decoration: none;
}
.header .toolBar .main_button
{
	position: absolute;
	display:inline;
	z-index: 200;
	float: left;
	height:56px;
	margin-left:30px;
	margin-top:16px;
	_margin-top:15px;
	margin-top:15px \0;
}
.menuItemStyle
{
	margin: 0px;
	padding: 0px;
	width: 80px;
	height: 56px;
}
.menuItemStyle a
{
	z-index: 300;
	height: 56px;
}
.menuItemStyle a img
{
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
}
.menuHoverStyle a img
{
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}
.menuSelectedStyle
{
	width: 80px;
	height: 56px;
	background-image: url(../Images/Ico/bg_icon_arrow.png);
	background-position: center bottom;
	background-repeat: no-repeat;
}
.menuSelectedStyle a img
{
	
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}
/********************************************* left ***********************************************/
.left
{
	position: relative;
	margin-top: -4px;
	width: 210px;
	float: left;
}
.left .leftBar
{
	float: right;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	width: 15px;
	border:none;
	/*
	background-image: url( "../Images/index/bg_leftBar.png" );
	*/
	cursor: pointer;
}
.left .leftBarTop
{
	width: 15px;
	height: 44px;
	border:none;
	background-image: url( "../Images/index/leftbar_top.png" );
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.left .leftBarButton
{
	width: 15px;
	border:none;
	float: right;
	background-image: url( "../Images/index/bg_leftBar.png" );
	background-repeat:repeat-y;
	cursor: pointer;
}
.left .leftBarButton_left
{
	width: 15px;
	border:none;
	float: right;
	background-image: url( "../Images/index/leftbar_left.png" );
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.left .leftBarButton_right
{
	width: 15px;
	border:none;
	float: right;
	background-image: url( "../Images/index/leftbar_right.png" );
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.left .leftContent
{
	width: 200px;
	float: left;
}
.left .leftContent .leftContentTop
{
	margin-top:4px;
	height: 38px;
	background-image: url(../Images/index/logo_bottom.png);
	background-position: left center;
	background-repeat: no-repeat;
}
.left .leftContent .leftContentMenu
{
}
.left .leftContent .leftContentMenu .menu1
{
	height: 36px;
	background-image: url( "../Images/index/bg_submenu.png" );
	text-align: left;
	color: #525252;
	padding-left: 15px;
	line-height: 36px;
	cursor: pointer;
}
.left .leftContent .leftContentMenu .menu1 span img
{
	vertical-align: middle;
}
.left .leftContent .leftContentMenu .menu1 span
{
	font-size: 12px;
	line-height: 36px;
	cursor: pointer;
}
.left .leftContent .leftContentMenu .menuList
{
	width: 200px;
}
.left .leftContent .leftContentMenu .menuList a
{
	text-decoration: none;
	color: #222222;
	padding-left:32px;
}
.left .leftContent .leftContentMenu .menuList ul
{
	height: 30px;
	line-height: 30px;
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	text-align: left;
}
.left .leftContent .leftContentMenu .menuList li
{
	width:200px;
	height: 30px;
	line-height: 30px;
	float: left;
	text-align: left;
}
.left .leftContent .leftContentMenu .menuList li.now a:link, .left .leftContent .leftContentMenu .menuList li.now a:visited
{
	height: 28px;
	border-top: solid 1px #D4D4D4;
	border-bottom: solid 1px #F6F6F6;
	border-left: none;
	border-right: none;
	font-size: 12px;
	font-weight: 700;
}
.left .leftContent .leftContentMenu .menuList a:link, .left .leftContent .leftContentMenu .menuList a:visited
{
	line-height: 30px;
	display: block;
}
.left .leftContent .leftContentMenu .menuList a:hover, .left .leftContent .leftContentMenu .menuList a:active
{
	height: 28px;
	line-height: 28px;
	border-top: solid 1px #D4D4D4;
	border-bottom: solid 1px #F6F6F6;
	display: block;
	text-decoration: none;
	background: #E5E5E5;
}
/*********************************************content***********************************************/
.content
{
	z-index:0;
	margin-top: -4px;
	margin-left: 210px;
}
.content .content_top
{
	height: 34px;
	padding-top: 10px;
	background-image: url( "../Images/index/bg_system_op.png" );
	background-repeat: repeat-x;
}
.content .content_top .topText
{
	margin-left: 20px;
	float:left;
}
.content .content_top .topText .user_role
{
	height: 28px;
	line-height:28px;
	
	color: #265D87;
}
.content .content_top .topButton
{
	margin-left: 20px;
	float:left;
}
.content .content_top .topButton input
{
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}
.content .content_top .topButton .exit
{
	height: 28px;
	width: 28px;
	margin-left:20px;
	border: none;
	background: none;
	background-image: url("../Images/button/btn_ico_exit.png");
	cursor: pointer;
}
.content .content_top .topButton .home
{
	height: 28px;
	width: 28px;
	margin-left:20px;
	border: none;
	background: none;
	background-image: url("../Images/button/btn_ico_home.png");
	cursor: pointer;
}
.content .content_top .topButton .refresh
{
	height: 28px;
	width: 28px;
	margin-left:20px;
	border: none;
	background: none;
	background-image: url( "../Images/button/btn_ico_refresh.png" );
	cursor: pointer;
}
.content .content_top .topButton .back
{
	height: 28px;
	width: 28px;
	margin-left:20px;
	border: none;
	background: none;
	background-image: url( "../Images/button/btn_ico_back.png" );
	cursor: pointer;
}
.content .content_top .MeassageBox
{
	margin-right: 64px;
	width:160px;
	height: 28px;
	float:right;
	border: none;
	background: none;
}
.content .content_main
{
	margin: 0px;
	background-color: #FFF;
}
/*********************************************footer***********************************************/
.footer
{
	height: 40px;
	line-height: 40px;
	clear: both;
	color: #FFF;
	text-align: right;
	padding-right: 20px;
	background-image: url( "../Images/index/bg_footer_1.png" );
}
