        *{ padding: 0px;margin: 0px;text-decoration: none;}
        .JiaoBen{ width: 100%;height: 80px;font-size: smaller;font-family: '微软雅黑', '宋体';word-spacing: 2px;color: gainsboro;text-align: center;background-color:RGB(176,53,112) }
        .JiaoBen a{color: gainsboro}
        /***********************************************1300px以上*************************************************************************/
        @media only screen and (min-width:1300px) {
            .PhoneImg{ width: 30px;height: 30px;padding-top: 10px;display: none}
            .PhoneHead{display:none}
            .Head{ width: 100%;background-color: RGB(176, 53, 112);height: 60px;display: block}
            .Head .logo{ width: 20%;height: 60px;line-height: 60px;float: left}
            .Head .logo i{ color: RGB(232,105,170);font-weight: bold;font-size: 280%;font-style: italic;line-height: 60px;height: 60px;width: 100%;text-align: center;display: block}
            .Head .Nav{ width: 60%;height: 60px;line-height: 60px;float:left;}
            .Head .Nav ul{ width: 100%;line-height: 60px;height: 60px;list-style: none;}
            .Head .Nav ul li{margin-left: 10px;text-align: left;float: left;color: grey;}
            .Head .Nav ul li:hover{ color: red;font-size: 0.6em;cursor: pointer;border-top: 2px solid white;}
            .Head .Nav ul li a{ text-decoration: none;color: grey;}
            .Head .Nav ul li a img{ visibility: hidden;display: none}
            .Head .NavPhone{ display: none;}
            .Head .Login_ACE{ width: 20%;line-height: 60px;height: 60px;float: left}
            .FontColor{ color: RGB(255, 255, 255);font-size: 0.8em;}
            .FontColor:hover{color: gainsboro;font-size: 0.8em;cursor: pointer;}
            .Head .Login_ACE ul{ list-style: none;height: 60px}
            .Head .Login_ACE ul li{ width: 48%;height: 60px;text-align: center;float: left;}
            .Head .Login_ACE ul li .transfer{ width: 49%;text-decoration: none;color: white;float: left}
            .Head .Login_ACE ul li .transfer:hover{ color: gainsboro;border-top: 2px solid white;}
            .Head .Login_ACE ul li a{ width: 100%;height: 60px;display: block}
            .Head .Login_ACE ul li img{ width: 40px;height: 40px;padding-top:5px;}
            .Head .Login_ACE ul li ul{width: 0%;color: white;border: none;transition: 0.8s;-o-transition: 0.8s; color: white;}
            .Head .Login_ACE ul li ul li a{text-decoration: none; color: white;}
            .Head .Login_ACE ul li ul li{background-color:gainsboro;width: 100%;color: white;}
            .Head .Login_ACE ul li ul li:hover{ color: gainsboro;}
            .Head .Login_ACE ul li ul li .userL:hover{ background-color: darkmagenta;font-weight: 500;}
            .Head .Login_ACE ul li:hover img{ padding-top: 0px;width: 50px;height: 50px;}
            .zixun{z-index: 100000; width: 170px;height: 220px;font-size: 1em;font-family: '微软雅黑', '宋体';word-spacing: 2px;color: RGB(114, 114, 114);position: fixed;right: 0px;top: 35%;}
            .zixun .showDiv{opacity: 0.8;filter: alpha(opacity=80);width: 135px;height: 220px;background-color: white;float: left}
            .zixun .showDiv p{opacity: 0.8;filter: alpha(opacity=80); text-indent: 15px;letter-spacing: 2px;font-size: small}
            .zixun .showDiv .fontci{opacity: 0.8;filter: alpha(opacity=80); height: 30px;line-height: 30px;color: white;font-family:'华文楷体', '微软雅黑', '宋体';font-weight: bold }
            .zixun .showDiv img{opacity: 0.8;filter: alpha(opacity=80); width: 105px;height: 105px;background-color: white;padding: 15px}
            .zixun .lanmu{ width: 32px;height: 220px;background-color: purple;color: white;float: right}
            .zixun .lanmu a img{ width: 30px;height: 30px;margin:5px auto}
            .zixun .lanmu a img:hover{ transform: translate(2px, 2px);-webkit-transform: translate(2px, 2px);background-color: white} /***1300px以上***/
            .Register{ width: 100%;height: 1200px;}
            .Register .MainRegister {margin-top: 10px; width: 80%;border: 1px solid gainsboro; height: 1000px;margin: auto}
            .Register .MainRegister .FistHange{text-indent: 20px; width: 100%;height: 60px;line-height: 80px;border-bottom: 1px solid gainsboro;}
            .Register .MainRegister .FistHange span{ font-size: 1.1em;font-weight: 600;color: RGB(89, 2, 86);font-family: '华文楷体', '微软雅黑', '宋体';border-bottom: solid 2px purple;padding-bottom: 8px;}
            .Register .MainRegister .Sheck{ text-indent: 280px;}
            .Register .MainRegister p{ line-height: 50px;height: 50px;}
            .Register .MainRegister .UserName .BtnTextForm{margin-left: 50px; width: 400px;height: 30px;} 
            .Register .MainRegister .UserRealName .BtnTextFormS{margin-left: 35px; width: 400px;height: 30px;} 
            .Register .MainRegister .UserSex .BtnTextFormSex{margin-left: 67px; width: 405px;height: 35px;} 
            .Register .MainRegister .UserPwd .BtnTextFormPwd{margin-left: 35px; width: 400px;height: 30px;} 
            .Register .MainRegister .UserPhone .BtnTextFormPhone{margin-left: 50px; width: 400px;height: 30px;} 
            .Register .MainRegister .VaildCodes .BtnTextFormCode{margin-left: 50px; width: 300px;height: 30px;} 
            .Register .MainRegister .VaildCodes .BtnSendCodes{font-family: '华文楷体', '楷体', '微软雅黑', '宋体';height: 30px;width: 90px;background-color: RGB(176, 53, 112);border: RGB(176, 53, 112);color:
                                                                                                                                                                                                  white;font-weight: 300;letter-spacing: 3px;font-size: large;margin-left: 10px;border-radius: 12px}
            .Register .MainRegister .CradIdNumber .BtnTextFormIDNumber {margin-left: 35px; width: 400px;height: 30px;}
            .Register .MainRegister .CradIdPicture .BtnTextFormIDPicture {margin-left: 35px; width: 400px;height: 30px;}
            .Register .MainRegister .LoginNow .btnLoginNowTime{font-family: '华文楷体', '楷体', '微软雅黑', '宋体';height: 30px;width: 90px;background-color: RGB(196, 22, 222);border: RGB(176, 53, 112);color:
                                                                                                                                                                                                   white;font-weight: 300;letter-spacing: 3px;font-size: large;margin-left: 10px;margin-left: 100px;transform: skew(-25deg, 0deg);-ms-transform: skew(-25deg, 0deg);-webkit-transform: skew(-25deg, 0deg); }
            .TFS_FormFont{ color: RGB(242,22,151);font-weight: 600;font-size: medium;font-family: '华文楷体', '楷体', '微软雅黑', '宋体';}
            .biaozhu{ font-size: smaller;color: RGB(196, 22, 222);padding-left: 40px}             
        }
        /***********************************************768~1300px以内*********************************************************************/
        @media only screen and (max-width:1299.9px )and (min-width:768px) {
            .PhoneImg{ width: 30px;height: 30px;padding-top: 10px;display: none}
            .PhoneHead{display:none}
            .Head{ width: 100%;background-color: RGB(176, 53, 112);height: 60px;display: block;visibility:visible}
            .Head .logo{ width: 10%;height: 60px;line-height: 60px;float: left}
            .Head .logo i{ color: RGB(232,105,170);font-weight: bold;font-size: 1.3em;font-style: italic;line-height: 60px;height: 60px;width: 100%;text-align: center;display: block}
            .Head .Nav{ width: 70%;height: 60px;line-height: 60px;float:left;}
            .Head .Nav ul{ width: 100%;line-height: 60px;height: 60px;list-style: none;}
            .Head .Nav ul li{text-align: center;float: left;color: grey;margin-left: 10px}
            .Head .Nav ul li a{ text-decoration: none;color: grey;}
            .Head .NavPhone{ display: none;}
            .Head .Login_ACE{ width: 20%;line-height: 60px;height: 60px;float: left}
            .FontColor{ color: RGB(255, 255, 255);font-size: 5px}
            .FontColor:hover{color: gainsboro;font-size: 5px;cursor: pointer;}
            .Head .Login_ACE ul{ list-style: none;height: 60px;}
            .Head .Login_ACE ul li{ width: 48%;height: 60px;text-align: center;float: left;}
            .Head .Login_ACE ul li .transfer{ width: 48%;text-decoration: none;color: white;float: left;font-size: small}
            .Head .Login_ACE ul li a{ width: 100%;height: 60px;display: block}
            .Head .Login_ACE ul li img{ width: 25px;height: 25px;padding-top: 19px}
            .Head .Login_ACE ul li ul{width: 0%;color: white;border: none;transition: 0.8s;-o-transition: 0.8s; color: white;}
            .Head .Login_ACE ul li ul li a{text-decoration: none; color: white;}
            .Head .Login_ACE ul li ul li{background-color:gainsboro;width: 100%;color: white;}
            .Head .Login_ACE ul li ul li:hover{ color: gainsboro;}
            .Head .Login_ACE ul li ul li .userL:hover{ background-color: darkmagenta;font-weight: 500;}
            .Head .Login_ACE ul li:hover img{ padding-top: 0px;width: 30px;height: 30px;}
            .zixun{z-index: 100000; width: 170px;height: 220px;font-size: 1em;font-family: '微软雅黑', '宋体';word-spacing: 2px;color: RGB(114, 114, 114);position: fixed;right: 0px;top: 35%;}
            .zixun .showDiv{opacity: 0.8;filter: alpha(opacity=80);width: 135px;height: 220px;background-color: white;float: left}
            .zixun .showDiv p{opacity: 0.8;filter: alpha(opacity=80); text-indent: 15px;letter-spacing: 2px;font-size: small}
            .zixun .showDiv .fontci{opacity: 0.8;filter: alpha(opacity=80); height: 30px;line-height: 30px;color: white;font-family:'华文楷体', '微软雅黑', '宋体';font-weight: bold }
            .zixun .showDiv img{opacity: 0.8;filter: alpha(opacity=80); width: 105px;height: 105px;background-color: white;padding: 15px}
            .zixun .lanmu{ width: 32px;height: 220px;background-color: purple;color: white;float: right}
            .zixun .lanmu a img{ width: 30px;height: 30px;margin:5px auto}
            .zixun .lanmu a img:hover{ transform: translate(2px, 2px);-webkit-transform: translate(2px, 2px);background-color: white}
            .Register{ width: 100%;height: 1200px;}
            .Register .MainRegister {margin-top: 10px; width: 80%;border: 1px solid gainsboro; height: 1000px;margin: auto}
            .Register .MainRegister .FistHange{text-indent: 20px; width: 100%;height: 60px;line-height: 80px;border-bottom: 1px solid gainsboro;}
            .Register .MainRegister .FistHange span{ font-size: 1.1em;font-weight: 600;color: RGB(89, 2, 86);font-family: '华文楷体', '微软雅黑', '宋体';border-bottom: solid 2px purple;padding-bottom: 8px;}
            .Register .MainRegister .Sheck{ text-indent: 20px;}
            .Register .MainRegister p{ height: 70px;}
            .Register .MainRegister .UserName .BtnTextForm{margin-left: 50px; width: 400px;height: 30px;} 
            .Register .MainRegister .UserRealName .BtnTextFormS{margin-left: 35px; width: 400px;height: 30px;} 
            .Register .MainRegister .UserSex .BtnTextFormSex{margin-left: 67px; width: 405px;height: 35px;} 
            .Register .MainRegister .UserPwd .BtnTextFormPwd{margin-left: 35px; width: 400px;height: 30px;} 
            .Register .MainRegister .UserPhone .BtnTextFormPhone{margin-left: 50px; width: 400px;height: 30px;} 
            .Register .MainRegister .VaildCodes .BtnTextFormCode{margin-left: 50px; width: 300px;height: 30px;} 
            .Register .MainRegister .VaildCodes .BtnSendCodes{font-family: '华文楷体', '楷体', '微软雅黑', '宋体';height: 30px;width: 90px;background-color: RGB(176, 53, 112);border: RGB(176, 53, 112);color:white;font-weight: 300;letter-spacing: 3px;font-size: large;margin-left: 10px;border-radius: 12px}
            .Register .MainRegister .CradIdNumber .BtnTextFormIDNumber {margin-left: 35px; width: 400px;height: 30px;}
            .Register .MainRegister .CradIdPicture .BtnTextFormIDPicture {margin-left: 35px; width: 400px;height: 30px;}
            .Register .MainRegister .LoginNow .btnLoginNowTime{font-family: '华文楷体', '楷体', '微软雅黑', '宋体';height: 30px;width: 90px;background-color: RGB(196, 22, 222);border: RGB(176, 53, 112);color:white;font-weight: 300;letter-spacing: 3px;font-size: large;margin-left: 10px;margin-left: 100px;transform: skew(-25deg, 0deg);-ms-transform: skew(-25deg, 0deg);-webkit-transform: skew(-25deg, 0deg);}
            .TFS_FormFont{ color: RGB(242,22,151);font-weight: 600;font-size: medium;font-family: '华文楷体', '楷体', '微软雅黑', '宋体';}
            .biaozhu{ font-size: smaller;color: RGB(196, 22, 222);padding-left: 40px;display: none}
        }
        /***********************************************767以下主要适配手机****************************************************************/
        /*实质是宽度400多为中大屏幕手机主要分辨率适配参考iphone6 plus以上*/
        @media only screen and (min-width:0px )and (max-width:767px) {
            *{padding: 0px;margin: 0px;text-decoration: none;}
            .PhoneHead{z-index: 100000000000; position: fixed;top: 0px;left: 0px;display: block;height: 50px;width: 100%;background: linear-gradient(to left, purple, RGB(176, 53, 112));border-bottom:gray 2px solid}
            .PhoneHead .headerTtile{ width: 100%;}
            .PhoneHead .headerTtile .left .transfer{color: white}
            .PhoneHead .headerTtile .left{ width: 20%;float: left;height: 50px;}
            .PhoneHead .headerTtile .left span{text-indent: 15px; display: block;color: RGB(232,105,170);font-weight: bold;font-size: 1em;font-style: italic;line-height:50px;height: 50px;text-align: left;}
            .PhoneHead .headerTtile .center{text-indent: 20px; width: 48%;float: left;}
            .PhoneHead .headerTtile .center .cents{ height: 50px;line-height: 50px;color: white;font-weight: bold}
            .PhoneHead .headerTtile .right{ width: 30%;float: left;height: 50px;position: relative}
            .PhoneHead .headerTtile .right a{display: block; position: absolute;top: 0px;right: 5px}
            .Head{display: none;background-color: white;color: #333333;position: fixed;top: 52px;color: #333333;width: 100%}
            .Head .logo{display: none}
            .Head .Nav ul li{ height: 40px;line-height: 40px;text-indent: 30px;color: #333333}
            .Head .NavPhone{ display: block;}
            .Head .NavPhone ul li{height: 40px;line-height: 40px;text-indent: 30px;color: #333333}
            .Head .Login_ACE{display: none}
            .PhoneImg{ width: 30px;height: 30px;padding-top: 15px;}
            .FontColor{ color: #333333;font-size: 0.6em;font-weight: bold}
            .zixun{display: none}
            .Register{position: relative;top: 52px; width: 100%;}
            .Register .MainRegister {margin-top: 10px; width: 100%;border: 1px solid gainsboro;margin: auto;height: 700px}
            .Register .MainRegister .FistHange{text-indent: 20px; width: 100%;height: 60px;line-height: 80px;border-bottom: 1px solid gainsboro;}
            .Register .MainRegister .FistHange span{ font-size: 1.1em;font-weight: 600;color: RGB(89, 2, 86);font-family: '华文楷体', '微软雅黑', '宋体';border-bottom: solid 2px purple;padding-bottom: 8px;}
            .Register .MainRegister .Sheck{ text-indent: 20px;}
            .Register .MainRegister p{ height: 50px;}
            .Register .MainRegister .UserName .BtnTextForm{margin-left: 20px; width: 220px;height: 30px;} 
            .Register .MainRegister .UserRealName .BtnTextFormS{margin-left: 5px; width: 220px;height: 30px;} 
            .Register .MainRegister .UserSex .BtnTextFormSex{margin-left: 39px; width: 225px;height: 35px;} 
            .Register .MainRegister .UserPwd .BtnTextFormPwd{margin-left: 5px; width: 225px;height: 30px;} 
            .Register .MainRegister .UserPhone .BtnTextFormPhone{margin-left: 20px; width: 225px;height: 30px;} 
            .Register .MainRegister .VaildCodes .BtnTextFormCode{margin-left: 20px; width: 120px;height: 30px;} 
            .Register .MainRegister .VaildCodes .BtnSendCodes{font-family: '华文楷体', '楷体', '微软雅黑', '宋体';height: 30px;width: 90px;background-color: RGB(176, 53, 112);border: RGB(176, 53, 112);color:white;font-weight: 300;letter-spacing: 3px;font-size: large;margin-left: 10px;border-radius: 12px}
            .Register .MainRegister .CradIdNumber .BtnTextFormIDNumber {margin-left: 5px; width: 225px;height: 30px;}
            .Register .MainRegister .CradIdPicture .BtnTextFormIDPicture {margin-left: 35px; width: 400px;height: 30px;}
            .Register .MainRegister .LoginNow .btnLoginNowTime{font-family: '华文楷体', '楷体', '微软雅黑', '宋体';height: 30px;width: 90px;background-color: RGB(196, 22, 222);border: RGB(176, 53, 112);color: white;font-weight: 300;letter-spacing: 3px;font-size: large;margin-left: 10px;margin-left: 100px;transform: skew(-25deg, 0deg); -ms-transform: skew(-25deg, 0deg);-webkit-transform: skew(-25deg, 0deg);}
            .TFS_FormFont{ color: RGB(242,22,151);font-weight: 600;font-size: medium;font-family: '华文楷体', '楷体', '微软雅黑', '宋体';}
            .biaozhu{ font-size: smaller;color: RGB(196, 22, 222);padding-left: 40px;display: none}
            .JiaoBen{ margin-top: 50px ;width: 100%;height: 80px;font-size: smaller;font-family: '微软雅黑', '宋体';word-spacing: 2px;color: gainsboro;text-align: center;background-color:RGB(176,53,112) }
            .JiaoBen a{color: gainsboro}
        }
        @media only screen and (max-width: 320px) {
            .Register .MainRegister .Sheck{ text-indent: 5px;}
            .JiaoBen{margin-bottom: 0px; width: 100%;height: 80px;font-size: 0.5em;font-family:'华文楷体','楷体', '微软雅黑', '宋体';word-spacing: 2px;color: gainsboro;text-align: center;background-color:RGB(176,53,112) }
            .JiaoBen a{color: gainsboro}
        }
